body {
    margin: 0;
}

#modelViewer {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

#fileInput {
    display: none;
}

/* commands */
#commands-menu {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.image-button {
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 12px;
}

.image-button img {
    height: 1.7rem;
}

.image-button.on>.off {
    display: none;
}

.image-button.off>.on {
    display: none;
}

/* loaded models container */
#loaded-models-container {
    position: absolute;
    box-sizing: border-box;
    bottom: 1rem;
    left: 1rem;
    width: calc(100vw - (1rem + 1rem));
    height: 160px;

    display: grid;
    grid-auto-flow: column;

    /* children in-between gap */
    column-gap: .4rem;

    /* children top & bottom, start & end gap */
    padding: .4rem .8rem;

    /* children justify to the left */
    justify-content: start;

    overflow-x: scroll;
}

#loaded-models-container::-webkit-scrollbar {
    display: none;
}

#loaded-models-container,
.model-item,
.image-button {
    border-radius: 7px;
    border-color: #000;
    border-width: 2px;
    border-style: solid;

    background-color: #fff6;
}

.model-item {
    display: block;
    position: relative;
    width: calc(160px - (1rem + 1rem) - (.5rem + .5rem));
    height: 100%;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

.model-item .remove-command {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;

    top: 0.1rem;
    right: 0.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-command .icon {
    height: 1.8rem;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;

    /* Ensure the image rotates around its center */
    transform-origin: center center;
}

#loaded-models-container:empty::after {
    position: absolute;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    color: #00000091;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    content: 'no models';
    text-transform: uppercase;
}

.model-item.selected {
    border-color: blue;
}

.hidden-element {
    display: none !important;
}

#view-ar-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.template {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.model-item.template {
    height: 160px;
}

#posterModel {
    background-color: #000;
    border: 2px solid yellow;
    box-sizing: border-box;

    position: absolute;
    width: 100vw;
    height: 100vh;

    opacity: 0.0;
}

#modelLoadingIndicator {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    object-position: center;
}

#modelEmptyIndicator {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #00000091;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: none;
}

#modelViewer.no-model #modelEmptyIndicator {
    display: flex;
}